<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AMG</title>

    <!-- animation  -->
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
    <!-- Jquery  -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="../assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/owlcss.css">

    <link href="https://db.onlinewebfonts.com/c/28057fefbbeb142eaa51e05850918f66?family=Diodrum-Medium"
        rel="stylesheet" />
    <link href="https://db.onlinewebfonts.com/c/00f0f381aec74e3f1d85b9ed5f927de0?family=Diodrum-Regular"
        rel="stylesheet" />
    <link href="https://db.onlinewebfonts.com/c/4e9bb563e82f506f3f2f8e41dc911649?family=Diodrum-Light"
        rel="stylesheet" />
    <link href="https://db.onlinewebfonts.com/c/8c4f294d7a674a415e4560c49706c597?family=Diodrum-Bold"
        rel="stylesheet" />

    <!-- opensans fontfamily  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />

    
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="logo">
                    <img  src="../assets/images/652412e65962a.1696862950.png" alt="Logo" />
                </div>
            </div>
        </div>
    </header>

    <section class="firstsection">
        <div class="container">
            <div class="row BannerRow">
                <div class="col-lg-6">
                    <img class="free_webinar_image " src="../assets/images/Group 46.svg" alt="free_webinar_image" />
                    <h1>
                        <span>Talking pain:</span> how to support your patients in
                        pharmacy
                    </h1>
                    <div class="date_and_time">
                        <img src="../assets/images/Icon material-date-range.svg" alt="date" />
                        <h4>Date : Now 23 - 2023</h4>
                    </div>
                    <div class="date_and_time">
                        <img src="../assets/images/Icon ionic-ios-time.svg" alt="time" />
                        <h4>Time : 19:30 - 20:15</h4>
                    </div>

                 
                </div>
                <div class="col-lg-6 banner-image ">
                    <img class="img-fluid profile" src="../assets/images/Banner-image.png "  alt="">
                   <img class="common common1"  src="../assets/images/Speaker.png" alt="">
                   <img class="common common2" src="../assets/images/Faheem Ahmed (M Pharm).png" alt="">
<div class="heleonbtn">
                       <img class="common common3" src="../assets/images/Group 5.png" alt="">
    
</div>                </div>
            </div>
        </div>
    </section>

    <!-- second container  -->
    <section>
        <div class="container">
            <div class="row scndcont">
                <div class="col-lg-5 scndcontimg">
                    <img class="img-fluid" src="../assets/images/patient relationship.png " alt="" />
                </div>
                <div class="col-lg-7">
                    <div class="scndcontent">
                        <h2>
                            Join our Pain Management Webinar and Unlock the Power to Ease
                            Discomfort
                        </h2>
                        <p>
                            Pain is a complex condition which can only be completely
                            understood by the person experiencing it. However, as the most
                            accessible healthcare providers, community pharmacies can play a
                            vital role in helping patients take action and assisting them in
                            safe and effective management of acute and chronic pain.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- third container  -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="ddd " >
                        Join us for a
                        <span style="color: #c40001"><strong>free 45-minute</strong> </span>CPD accredited, Pain
                        Management Webinar designed to empower you
                        and your staff with effective strategies for understanding,
                        managing and reducing pain in your patients’ daily life.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- fourth container  -->

    <section>
        <div class="container">
            <div class="row">
                <div class="Agenda_Main_div ">
                    <div class="col-md-6 Agenda_card">
                        <img src="../assets/images/sad face.png" alt="" />
                        <h2>Understanding Pain:</h2>
                        <p>Exploring the fundamentals of different pain types.</p>
                    </div>
                    <div class="col-md-6 Agenda_card">
                        <img src="../assets/images/hospital.png" alt="" />
                        <h2>Medication Management:</h2>
                        <p>Find out the role of different pain relief medications.</p>
                    </div>
                    <div class="col-md-6 Agenda_card">
                        <img src="../assets/images/happy face.png" alt="" />
                        <h2>Non-Pharmacological Pain Relief:</h2>
                        <p style="margin-bottom: 47xp">
                            Learn about alternative pathways, such as heat and cold therapy,
                            stretching exercises which could complement traditional
                            treatment.
                        </p>
                    </div>
                    <div class="col-md-6 Agenda_card">
                        <img src="../assets/images/heart.png" alt="" />
                        <h2>Managing Chronic Pain:</h2>
                        <p style="margin-bottom: 47xp">
                            If you are dealing with sufferers of chronic pain, what are the
                            long-term strategies that can help them cope with the pain and
                            how these can improve their quality of life?
                        </p>
                    </div>
                    <div class="col-12 Agenda_card_full d-flex justify-content-center">
                        <img src="../assets/images/question.png"  class="img-fluid" />
                        <div class="qna">
                            <h2 style="font-weight: 600;">Q&A Session:</h2>
                            <p>
                                Please send your questions to our panel of experts either in
                                advance of or during the webinar. We will endeavour to address
                                your concerns individually.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fifth container  -->
    <section>
        <div class="container">
            <div class="row happy-patient">
                <div class="col-lg-5 happy-image">
                    <img src="../assets/images/Happy-Patient-1024x683.png" alt="" />
                </div>
                <div class="col-lg-7" >
                    <div class="fifth-content " style="background-color: #c40001">
                        <h2>Registration:</h2>
                        <p>
                            Reserve your spot today by visiting. <br />
                            Registration is free and attendees will receive CPD module
                            completion certificate.
                        </p>
                        <button class="reg_btn">Register now</button>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!-- sixth container  -->
    <section>
      <div class="container  ">
        <div class="row whoshouldattend ">
          <div class="col-12 " >
            <div class="sixth-content" style="background: #001A68;">
              <h2>Who should attend:</h2>
              <p>All colleagues who deal with patients suffering from acute or chronic pain and work in a pharmacy setting community, practice, PCN, hospital and industry.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- seventh container  -->
    <div class="container"><h2 class="seventh-head ">Watch the full session</h2></div>
    <section>
        <div class="container">
            <!-- <div class="row p-0 main_video">
                <iframe   src="https://www.youtube.com/embed/NMws_ajUWX8?si=SsLCRIp5xNHdtwUR"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div> -->
            <div class="embed-responsive embed-responsive-16by9  ">
                <iframe class="embed-responsive-item main_video" title="How to paraphrase" src="https://www.youtube.com/embed/oTsE-LRSo_M" allowfullscreen></iframe>
              </div>
        </div>
    </section>




    <!-- Eighth container  -->
    <section >
      <div class="container">
        <!-- <div class="row "> -->
          <!-- <div class="col-12 d-flex align-items-end justify-content-between"> -->
           
            <div class="row testimonials" >
              <h2 class="test-head">Testimonial</h2>
              <!-- <img src="../assets/images/Icon feather-arrow-left-circle.png" alt=""> -->
            <div class="Testimonials_Main_div owl-carousel owl-carousel-home-slider">
                <div class=" Testimonials_card">
                 <div class="profile">
                  <img src="../assets/images/testimonial-profile1.png" alt="" />

                   <div class="prof1"> <h2>Adam joe</h2><p>Ireland</p></div>
                   
                 </div>
                  <p style="margin-bottom: 47xp">
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful                   </p>
              </div>
  
              <div class=" Testimonials_card">

                <div class="profile">
                  <img  src="../assets/images/pexels-pixabay-220453.png" alt="" />
                  <div class="prof1"> <h2>Adam joe</h2> <p>Ireland</p></div>
                 
                </div>
                <p style="margin-bottom: 47xp">
                  In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful                 </p>
            </div>

            <div class=" Testimonials_card">
                <div class="profile">
                 <img  src="../assets/images/testimonial-profile1.png" alt="" />

                  <div class="prof1"> <h2>Adam joe</h2><p>Ireland</p></div>
                  
                </div>
                 <p style="margin-bottom: 47xp">
                   In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful                   </p>
             </div>
             
             <div class=" Testimonials_card">
                <div class="profile">
                 <img src="../assets/images/testimonial-profile1.png" alt="" />

                  <div class="prof1"> <h2>Adam joe</h2><p>Ireland</p></div>
                  
                </div>
                 <p style="margin-bottom: 47xp">
                   In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful                   </p>
             </div>
            </div>


            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </section>



    <!-- secend-last container  -->
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center logo-img-new">
                <div class="col-lg-3 ">
                    <p style="font-size: 20px; ">Speakers</p>
                    <h2 style="font-size: 28px;" class="mt-3">Faheem Ahmed</h2>
                    <p style="font-size: 20px; ">Haleon rep</p>

                </div>
                <div class="col-lg-6  slogo ">
                    <div class="row">
                        <div class="col-12 Sponsered">
                            <p style="font-size: 20px; ">Sponsered By:</p>
                        </div>
                    </div>
                    <div class="row justify-content-center sgroupimg">


                        <div class="col-6 voltarol-img " style="border-right: 1px solid #000000; float:right; ">
                            <img  src="../assets/images/Voltarol_Master_Logo_Tagline_RGB-01 - Copy.png" alt="">
                        </div>



                        <div class="col-6 heleon ">
                            <img  src="../assets/images/haleon footer img.png" alt="">

                        </div>
                    </div>


                </div>
                <div class="col-lg-3 tlogo">
                    <p style="font-size: 20px;">In Partnership with:</p>
                    <img  src="../assets/images/pharmacy.png" alt="">

                </div>
            </div>
        </div>
    </section>




    <!-- last container  -->
    <section>

        <footer class="text-center text-white" style="border-top: 1px solid #363636;">
            <div class="container">
                <div class="row">
                    <div class="text-center text-dark  "
                        style=" margin-top: 62px; margin-bottom: 19px;   ">
                        <img class="img-fluid" src="../assets/images/footer group img.png" alt="">
                    </div>
                    <div class="text-center text-dark p-2" style=" margin-bottom: 47px; ">
                        <p style="font-size: 18px; ">© Copyright 2023. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        
    </section>


    <script src="../assets/js/owl.js"></script>
    <script src="../assets/js/js.js"></script>
    <!-- <script>
        AOS.init();
      </script> -->
</body>

</html
